.card {
  height: 100%;
  box-shadow: var(--mantine-shadow-md);
  padding: 25px;
  border: 1px solid var(--mantine-color-default-border);
  border-radius: var(--mantine-radius-xl);
}

.wrapper {
  flex-grow: 1;
}

.icon {
  color: var(--mantine-primary-color-filled);
  width: 48px;
  height: 48px;
}

/* .text {
  color: var(--mantine-color-gray-filled);
} */
