.name {
  margin-top: 5px;
  font-size: var(--mantine-font-size-xl);
}

.iconButton {
  border-radius: var(--mantine-radius-xl);
}

.icon {
  width: 28px;
  height: 20px;
}

.contacts {
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.contact {
  color: var(--mantine-color-text);
  &:hover {
    color: var(--mantine-primary-color-filled);
  }
}

.card {
  box-shadow: var(--mantine-shadow-xl);
  border-radius: var(--mantine-radius-lg);
}
