.wrapperInputs {
  gap: 20px;
  justify-content: space-between;
}

.wrapperButtons {
  margin-top: 25px;
  gap: 25px;
}

.inputRoot {
  width: 100%;
}

.input {
  border-color: var(--mantine-primary-color-filled);
  border-radius: var(--mantine-radius-xl);
}

.button {
  padding-left: 45px;
  padding-right: 45px;
  border-radius: var(--mantine-radius-xl);
}

.wrapperInput {
  flex-grow: 1;
}
