.group {
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: var(--mantine-primary-color-filled);
  &:hover {
    background-color: var(--mantine-primary-color-light-hover);
  }
}

.icon {
  width: 24px;
  height: 24px;
}
