.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.containerLinks {
  display: flex;
  justify-content: space-between;
  flex-grow: 0.7;
  max-width: 900px;
}

.containerButtons {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
}

.icon1 {
  color: var(--mantine-color-text);
  width: 24px;
  height: 24px;
}
.icon2 {
  width: 48px;
  height: 48px;
}

.burgerContainer {
  background-color: var(--mantine-color-gray-light);
  border-radius: var(--mantine-radius-lg);
}

.burgerContainerLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.burgerContainerButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
