.wrapper {
  background-color: var(--mantine-color-gray-light);
}

.containerLinks {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.proscom {
  color: var(--mantine-color-gray-filled);
}

@media (max-width: 510px) {
  .containerLinks {
    flex-direction: column;
    align-items: center;
  }
}
